# Nuxt
.nuxt
.output
.data
dist

# Test coverage
.coverage

# Vercel CLI
.vercel

# Dependencies
node_modules

# Logs
*.log

# Env
.env
.env.*
!.env.example

# OS / editor
.DS_Store

# Legacy 
legacy
.env*.local
